.gitignore
# generate.mjs and generate.sh are deleted by the prepare script and not here,
# to allow installing code-input.js from Git via a package manager.
# (Such a process downloads git repo, deletes npmignored files, THEN runs prepare.)
